body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: DescriptionFontFamily;
  src: url("/assets/font/klavika-light-webfont.woff");
}

@font-face {
  font-family: LabelFontFamily;
  src: url("/assets/font/klavika-light-webfont.woff");
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("/assets/images/background.jpg");
  background-attachment: scroll;
  background-position-y: 50%;
  background-size: 12226px 1080px;
  background-repeat: no-repeat;
  transition: background-position 0.5s ease-in-out;
  color: #ffffff;
}

.right-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 34px;
}
.right-arrow {
  transform: rotateY(180deg);
}

.logo {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}

.left-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-panel {
  border: dotted 2px #ffffff;
  display: flex;
}

.page-panel .page-panel__item {
  padding: 2px;
}

.page-panel .page-panel__label {
  font-family: LabelFontFamily;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-panel .page-panel__select {
  background-color: #fff;
}

.page-panel :not(:first-child) {
  border-left: dotted 2px #fff;
}

.page-panel-container {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #ffffff;
  display: flex;
}

.page-panel-description {
  font-family: LabelFontFamily;
  position: absolute;
  bottom: 70px;
  left: 15px;
  color: #ffffff;
}

.page-panel-right-description {
  font-family: LabelFontFamily;
  padding-left: 40px;
}

.description-right {
  font-size: 52px;
  font-family: DescriptionFontFamily;
  text-decoration: underline;
  position: absolute;
  right: 40px;
  top: 40%;
}

.description-left {
  font-size: 52px;
  font-family: DescriptionFontFamily;
  text-decoration-line: underline;
  text-decoration-style: solid;
  position: absolute;
  left: 40px;
  top: 40%;
}

.description-left-top {
  font-size: 52px;
  font-family: DescriptionFontFamily;
  position: absolute;
  left: 40px;
  top: 10%;
}

.about-panel {
  overflow: hidden;
  width: 0%;
  height: 100%;
  position: absolute;
  transition: width 0.5s ease-in-out;
  right: 0;
  background-color: #000000;
  font-family: DescriptionFontFamily;
  font-size: 52px;
}

.about-panel__contact {
  font-family: LabelFontFamily;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 50%
}
.about-panel__contact i {
  margin-left: 5px;
  padding-right: 5px;
}
.about-panel__title {
  position: absolute;
  top:15px;
  right:15px
}
